# .coveragerc to control coverage.py

[report]
# Regexes for lines to exclude from consideration
exclude_also =
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    def main
    def _get_github_prs

    if TYPE_CHECKING:
    if not dry_run:

    except ImportError:
    except OSError:

[run]
omit =
    */pepotron/__main__.py
    */pepotron/cli.py
    */pepotron/scripts/*
